@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {
    /* CONTROLS */
    .controls {
        width: 90%;
    }
    
    .score {
        align-self: center;
    }

    .control-btns {
        display: flex;
        justify-content: space-between;
        width: 75%;
    }

    .new-q,
    .finish {
        font-size: 15px;
    }
    
    .new-q {
        width: 54%;
    }

    .finish {
        width: 44%;
    }
    
    /* QUESTION AND ANSWER DIVS */
    .quiz {
        width: 100%;
        height: 70vh;
        margin-top: 0.5rem;
    }

    .question {
        margin: 0 auto;
        font-size: 15px;
        width: 95%;
    }
    
    .answer {
        width: 95%;
    }

    .answer-form {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }

    .answer-input {
        width: 60%;
    }

    .answer-button {
        width: 35%;
    }
}

@media only screen and (max-width: 480px) {
    /* NAVBAR */
    .nav-link {
        font-size: 15px;
    }
      
    /* CONTROLS */
    .controls {
        width: 90%;
    }

    .new-q,
    .finish {
        font-size: 15px;
    }

    /* QUESTION AND ANSWER DIVS */
    .answer {
        flex-direction: column;
        margin-top: -.5rem;
    }

    .answer-input {
        font-size: 15px;
        width: 100%;
    }
    
    .answer-button {
        font-size: 20px;
        margin-top: .5rem;
        padding: 3px;
        width: 100%;
    }
}

@media only screen and (max-width: 246px) {
    /* NAVBAR */
    .logo {
        font-size: 10px;
    }

    .navbar-toggler {
        width: 30px;
        height: 30px;
    }

    .toggle-icon {
        width: 85%;
        margin: 3px auto;
    }

    /* CONTROLS */

    /* QUESTION AND ANSWER DIVS */
}