/* UTILITIES */
* {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #202020;
  transition: all .2s ease-in-out;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  color: #202020;
  background-color: #FFF;
  border-color: #202020;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN NAV */
.navbar {
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #FAFAFA;
}

.logo {
  font-family: 'Oi', cursive;
  color: #202020;
  font-size: 20px;
}

.logo:hover {
  color: #202020;
}

.nav-item {
  margin: 10px;
  border-radius: 10px;
  transition: all .1s ease-in-out;
}

.nav-item:hover {
  background-color: #202020;
  color: #FAFAFA;
}

.navbar-nav .nav-link {
  padding: 5px 10px;
  font-size: 20px;  
  font-weight: 600;
  color: #202020;
}

.nav-link:hover {
  color: #FAFAFA;
}

.navbar-toggler {
  width: 40px;
  height: 40px;
  padding: 5px;
  color: transparent;
  background-color: #FAFAFA;
  border: 1px solid #202020;
  transition: all .2s ease-in-out;
}

.navbar-toggler:hover {
  background-color: #202020;
}

.navbar-toggler:focus {
  color: transparent;
}

.navbar-toggler:hover .toggle-icon {
  border-color: #FAFAFA;
}

.toggle-icon {
  display: block;
  width: 90%;
  border: 1.50px solid #202020;
  border-radius: 10px;
  margin: 5px auto;
}

/* CONTROLS */
.controls {
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem auto;
  width: 60%;
}

.new-q,
.finish {
  padding: 0.5rem 1rem;
}

/* QUESTION AND ANSWER DIVS */
.quiz {
  flex-direction: column;
  margin: 0 auto;
  height: 90%;
  width: 75%;
}

.question {
  flex-direction: column;
  padding: 1rem;
  background-color: #202020;
  color: #FFFFFF;
  text-align: center;
  border-radius: 15px;
  width: 90%;
  height: 55vh;
}

.answer {
  padding: 1rem;
  margin: 0 auto;
}

.answer-input {
  padding: 5px;
  font-size: 20px;
  border: 1px solid #202020;
  border-radius: 5px;
}

.answer-button {
  font-size: 20px;
  padding: 0.5rem 1rem;
}

/* ABOUT */
.about-container {
  margin: 1rem auto;
  width: 80%;
  flex-direction: column;
}