/* GLOBAL STYLES */
* {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #202020;
  transition: all .2s ease-in-out;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: #E7E7E7;
}

/* MAIN NAV */
.navbar {
  margin: 0 auto;
  padding: 0;
  background-color: #E7E7E7;
}

.logo {
  font-family: 'Oi', cursive;
  color: #202020;
  font-size: 20px;
}

.logo:hover {
  color: #202020;
}

.nav-item {
  margin: 10px;
  border-radius: 10px;
  transition: all .1s ease-in-out;
}

.nav-item:hover {
  background-color: #202020;
  color: #E7E7E7;
}

.nav-link {
  padding: 5px;
  font-size: 20px;  
  font-weight: 600;
  color: #202020;
}

.nav-link:hover {
  color: #E7E7E7;
}

.navbar-toggler {
  width: 40px;
  height: 40px;
  padding: 5px;
  color: transparent;
  background-color: #E7E7E7;
  border: 1px solid #202020;
  transition: all .2s ease-in-out;
}

.navbar-toggler:hover {
  background-color: #202020;
}

.navbar-toggler:hover .toggle-icon {
  border-color: #E7E7E7;
}

.toggle-icon {
  display: block;
  width: 90%;
  border: 1.50px solid #202020;
  border-radius: 10px;
  margin: 5px auto;
}

/* CONTROLS */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  padding-right: 14rem;
}

.finish {
  padding: 5px 25px;
}

/* QUESTION AND ANSWER DIVS */
.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  height: 80%;
  width: 75%;
}

.question {
  font-size: 30px;
  padding: 1rem;
  background-color: #202020;
  color: #FFFFFF;
  text-align: center;
  border-radius: 15px;
  width: 90%;
  height: 50vh;
}

.answer {
  padding: 1rem;
  margin: 0 auto;
}

.answer-input {
  padding: 5px;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 5px;
}

.answer-button {
  font-size: 30px;
  padding: 0 5px;
}